:root {
  --galactic-blue: #755cde;
  --summer-yellow: #f6a560;
  --pink: #f39e9e;
  --light-red: #eb7565;
  --cyan: #61c4b7;
  --purple: #552049;
  --black: #030303;
  --medium-brown: #7a746e;
  --light-cream: #fff7f0;
}
