@use "../utils/" as u;

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: clamp(u.rem(36), u.rem(16) + 4vw, u.rem(56));
  line-height: clamp(u.rem(45), u.rem(16) + 4vw, u.rem(71));
}

h2 {
  font-size: clamp(u.rem(26), u.rem(16) + 2.1vw, u.rem(40));
  line-height: clamp(u.rem(33), u.rem(16) + 3.1vw, u.rem(50));
}

p {
  margin: 0;
  font-weight: 500;
  font-size: u.rem(16);
  line-height: u.rem(26);

  @include u.breakpoint(medium) {
    font-size: u.rem(18);
    line-height: u.rem(28);
  }
}

.button-1,
.button-2 {
  border-radius: u.rem(28);
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: u.rem(14);
  line-height: u.rem(28);
  color: var(--light-cream);
  border: none;
  padding: u.rem(8) u.rem(28);

  @include u.breakpoint(medium) {
    font-size: u.rem(16);
    padding: u.rem(14) u.rem(45);
  }

  @include u.breakpoint(xlarge) {
    font-size: u.rem(16);
    padding: u.rem(14) u.rem(45);
  }

  &:hover {
    background-color: var(--galactic-blue);
    cursor: pointer;
  }
}

.button-1 {
  background: var(--black);

  &:hover {
    background-color: var(--galactic-blue);
  }
}

.button-2 {
  background: var(--light-red);

  &:hover {
    background-color: var(--summer-yellow);
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
}
